<!DOCTYPE html>
<html lang="uk-UA">
<head>
<meta charset="utf-8"/>
<title>Myrotvorets FM</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<link rel="preconnect" href="https://psb4ukr.natocdn.net" />
<meta name="description" content="Радіо «Миротворець»"/>
<meta name="theme-color" content="#001E3E"/>
<link rel="icon" type="image/png" href="<%= require('./images/logo32.png') %>"/>
<link rel="apple-touch-icon" href="<%= require('./images/logo192w.png') %>"/>
<link rel="manifest" href="<%= require('./manifest.json') %>" />
<meta property="og:title" content="Myrotvorets.FM"/>
<meta property="og:site_name" content="Myrotvorets.FM"/>
<meta property="og:url" content="https://myrotvorets.center/player/">
<meta property="og:description" content="Радіо «Миротворець»"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="https://myrotvorets.center/player/<%= require('./images/header-og.png') %>"/>
<style>
<%= require('!!css-loader?{"esModule": false}!sass-loader!./components/App/app.scss') %>
</style>
</head>
<body>
    <header>
        <picture>
            <source srcset="<%= require('./images/header.webp') %>" type="image/webp"/>
            <img src="<%= require('./images/header.png') %>" alt="Radio Myrotvorets" width="584" height="177"/>
        </picture>
    </header>
    <main id="app">
        <p>Триває завантаження аудіоплеєра…</p>
    </main>
    <footer>
        <p>Copyright © 2020 <a href="https://myrotvorets.center/" target="_blank" rel="noopener">Myrotvorets Research Center</a></p>
        <p>
            <span id="version">
                <%= version %>
                <img src="<%= require('./images/refresh.svg') %>" alt="" width="17" height="17"/>
            </span>
        </p>
    </footer>
    <script nomodule="nomodule">
        if(!location.pathname.test(/compat/))location.pathname=location.pathname.replace('index.html','')+'compat.html';
    </script>
</body>
</html>
